body {
    height: 100vh;
    background: linear-gradient(to bottom, #da590f, #984421);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

 .calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}
.display {
    height: 50px;
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    }

.buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    padding: 20px;
    margin: 5px;
    background-color: #40f04b;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.col:hover{
    background-color: #984421;
}