body {
    background-color: #2b2b41;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #2b2b41;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 300px;
    margin-right: 10px;
    color: black;
}

#addButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #d3d59c;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #704646;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.editButton, button.deleteButton {
    background-color: #f2a743;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
